/* Variables */
:root {
    --background-color: black;
    --main-text-color: #E8DADA;
    --transparent-box-color: rgba(0, 0, 0, 75%);
    --light-transparent-box-color: rgba(0, 0, 0, 60%);
    --very-light-transparent-box-color: rgba(0, 0, 0, 25%);

    --logo-font: 'Tilt Prism', serif;
    --main-body-font: 'Federo', serif;
    --subtitle-font: 'Shrikhand', serif;
}

/* Universal Styles */
* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    background-color: var(--background-color);
}

#blockpage {
    display: none;
}

#blockpagecontent {
    background-color: black;
    color: var(--main-text-color);
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blockpagecontent h2 {
    font-family: var(--main-body-font);
    font-size: 200%;
    text-align: center;
    margin: 25px;
}

/* Nav Header Styling */
main.nav-bar-offset {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.nav-bar-offset {
    padding: 150px 0px 0px 0px;
}

.nav-header {
    background-color: var(--background-color);

    border-bottom: medium solid var(--main-text-color);

    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-header-logo-text {
    color: var(--main-text-color);

    font-family: var(--logo-font);
    font-size: 46px;
    text-transform: uppercase;
    text-decoration: none;

    margin: 10px 0px 10px 10px;
    min-width: 40%;
    max-width: 50%;

    transition: color 0.2s;
    cursor: pointer;
}

.nav-header-logo-text:visited {
    color: var(--main-text-color);

    font-family: var(--logo-font);
    font-size: 46px;
    text-decoration: none;

    width: 50%;
}

.nav-header-logo-text:hover {
    color: grey;
}

.nav-header-logo-text:active {
    color: darkslategrey;
}

.nav-header-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    margin-right: 5px;
}

.nav-header-list>li {
    margin: 10px 5px;
}

.nav-header-list>li a {
    color: var(--main-text-color);
    font-family: var(--main-body-font);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;
}

.nav-header-list>li a:visited {
    color: var(--main-text-color);
}

.nav-header-list>li a:hover {
    color: grey;
    text-decoration: underline;
}

.nav-header-list>li a:active {
    color: darkslategrey;
    text-decoration: underline;
}

/* Button Styles */
.order-button {
    background-color: var(--very-light-transparent-box-color);
    color: var(--main-text-color);

    font-family: var(--main-body-font);
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;

    border: medium solid var(--main-text-color);
    border-radius: 50px;
    padding: 15px 25px;

    transition: background-color 0.15s;

    cursor: pointer;
}

.order-button:hover {
    background-color: var(--main-text-color) !important;
    color: var(--background-color);

    border: medium solid var(--background-color);
}

.order-button:active {
    background-color: rgba(115, 115, 115, 50%) !important;
    color: var(--main-text-color);

    text-decoration: underline;

    border: medium solid var(--background-color);
}

.link-button {
    background-color: var(--very-light-transparent-box-color);
    color: var(--main-text-color);

    display: grid;
    align-items: center;

    font-family: var(--main-body-font);
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;

    border: thin solid var(--main-text-color);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0px 10px;

    transition: background-color 0.15s;

    cursor: pointer;
}

.link-button:hover {
    background-color: var(--main-text-color) !important;
    color: var(--background-color);

    border: thin solid var(--background-color);
}

.link-button:active {
    background-color: rgba(115, 115, 115, 50%) !important;
    color: var(--main-text-color);

    text-decoration: underline;

    border: thin solid var(--background-color);
}

/* Embedded Video Styles */
iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;

    margin-bottom: 25px;
}

/* Generic Page Styles */

/* Page Fixed Background Implementation
    (workaround for fixed background on iOS)
*/
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}

body#ageverify::before {
    background-image: linear-gradient(to top, black 0%, rgba(0, 0, 0, 25%) 50%), url("https://raw.githubusercontent.com/kalakal-dev/bothy-blend/refs/heads/main/resources/images/whiskybarrels.jpeg");
}

/* Individual page backgrounds */
body#landingpage::before {
    background-image: linear-gradient(to top, black 0%, rgba(0, 0, 0, 25%) 50%), url("https://raw.githubusercontent.com/kalakal-dev/bothy-blend/refs/heads/main/resources/images/bothy.jpg");
}

body#aboutus::before {
    background-image: linear-gradient(to top, black 0%, rgba(0, 0, 0, 25%) 50%), url("https://raw.githubusercontent.com/kalakal-dev/bothy-blend/refs/heads/main/resources/images/landscape_filter.jpg");
}

body#order::before {
    background-image: linear-gradient(to top, black 0%, rgba(0, 0, 0, 25%) 50%), url("https://raw.githubusercontent.com/kalakal-dev/bothy-blend/refs/heads/main/resources/images/coppertanks.jpg");
}

.main-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-main-title {
    margin: 12px 0px;
}

.page-main-title h1 {
    color: var(--main-text-color);

    font-family: var(--subtitle-font);
    font-size: 50px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

.body-text {
    /* border: thin solid red !important; */

    color: var(--main-text-color);
    background-color: var(--light-transparent-box-color);

    font-family: var(--main-body-font);
    font-size: 24px;
    line-height: 36px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    max-width: 900px;
    /* min-height: 450px; */
    flex: 1;

    border-radius: 25px 25px 0px 0px;

    margin: 24px 24px 0px 24px;
    padding: 30px;
}

.body-text p {
    margin-bottom: 36px;
}

.body-text-justified {
    text-align: justify;
}

.body-text-justified strong {
    text-transform: uppercase;
    font-weight: bold;
}

.body-text-emphasis {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 110%;
}

.body-text-center {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: row;
}

/* Landing Page Styles */
#landing-page-main-content,
#ageverify-main-content {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.landing-page-container>* {
    margin: 1rem 0px;
}

.title-container {
    color: var(--main-text-color);
    background-color: var(--transparent-box-color);
}

#landing-page-main-title,
#ageverify-main-title {
    font-family: var(--logo-font);
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;

    border: medium solid var(--main-text-color);

    margin: 0px 50px;
    padding: 15px 25px;
    border-radius: 25px;
}

#landing-page-main-subtitle,
#ageverify-main-subtitle {
    font-family: var(--main-body-font);
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;

    margin: 10px 25px;
    padding: 15px;
    border-radius: 10px;
}

/* About Us Page Styling */
#about-us-main-content {
    width: 100vw;
}

/* Order Page Styling */
#order-main-content {
    width: 100vw;
}

.order-box-container {
    background-color: var(--transparent-box-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    text-align: center;

    border: medium solid var(--main-text-color);
    border-radius: 25px;

    padding: 10px;
    margin-bottom: 25px;
}

.order-box-container h2 {
    font-family: var(--logo-font);
    font-size: 32px;
    text-transform: uppercase;

    margin: 10px 0px;
}

.order-box-container h3 {
    font-size: 30px;
    text-transform: uppercase;
}

.order-box-container p {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0px;
}

.order-box-container a {
    box-sizing: content-box;

    background-color: orange;
    color: black;

    margin: 10px 0px;
    padding: 0px 15px;

    border: medium solid var(--main-text-color);
    border-radius: 25px;

    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;
    transition: background-color 0.1s;
}

.order-box-container a:hover {
    background-color: orangered;

    text-decoration: underline;
}

.order-box-container a:active {
    background-color: darkgoldenrod;
    color: white;

    border: medium solid rgba(0, 0, 0, 0%);

    text-decoration: none;
}

.order-box-container img.package-image {
    width: 220px;
    height: 220px;

    border-radius: 15px;
}

/* VAT Number Styling */
.VAT-number-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.VAT-number-container p {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;

    margin: 0px;
    padding: 4px 0px;
}