/* Variables */
:root {
    --background-color: black;
    --main-text-color: #E8DADA;
    --transparent-box-color: rgba(0, 0, 0, 65%);
    --light-transparent-box-color: rgba(0, 0, 0, 35%);

    --logo-font: 'Tilt Prism', serif;
    --main-body-font: 'Federo', serif;
    --subtitle-font: 'Shrikhand', serif;
}

/* Universal Styles */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

/* Nav Header Styling */
.nav-bar-offset {
    padding: 150px 0px 0px 0px;
}

.nav-header {
    background-color: var(--background-color);

    border-bottom: medium solid var(--main-text-color);

    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* visibility: hidden; */
}

.nav-header>* {
    margin: 10px;
}

.nav-header-logo-text {
    color: var(--main-text-color);

    font-family: var(--logo-font);
    font-size: 46px;

    width: 50%;
    /* padding: 5px; */
    /* margin: 50px 15px; */

    /* border: thin solid red !important; */
}

.nav-header-list {
    display: flex;
}

.nav-header-list>li {
    font-family: var(--main-body-font);
    font-size: 18px;
    text-transform: uppercase;

    margin: 5px;
}

/* Button Styles */
.order-button {
    background-color: rgba(0, 0, 0, 0%);
    color: var(--main-text-color);

    font-family: var(--main-body-font);
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;

    border: medium solid var(--main-text-color);
    border-radius: 50px;
    padding: 15px 25px;

    transition: background-color 0.15s;

    cursor: pointer;
}

.order-button:hover {
    background-color: var(--main-text-color) !important;
    color: var(--background-color);

    border: medium solid var(--background-color);
}

.order-button:active {
    background-color: rgba(115, 115, 115, 50%) !important;
    color: var(--main-text-color);

    text-decoration: underline;

    border: medium solid var(--background-color);
}

.link-button {
    background-color: rgba(0, 0, 0, 0%);
    color: var(--main-text-color);

    font-family: var(--main-body-font);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;

    border: thin solid var(--main-text-color);
    border-radius: 50px;
    padding: 10px 20px;

    transition: background-color 0.15s;

    cursor: pointer;
}

.link-button:hover {
    background-color: var(--main-text-color) !important;
    color: var(--background-color);

    border: thin solid var(--background-color);
}

.link-button:active {
    background-color: rgba(115, 115, 115, 50%) !important;
    color: var(--main-text-color);

    text-decoration: underline;

    border: thin solid var(--background-color);
}

/* Generic Page Styles */
.full-page-background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    z-index: -100;
}

.page-main-title {
    margin: 12px 0px;
}

.page-main-title h1 {
    color: var(--main-text-color);

    font-family: var(--subtitle-font);
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

.body-text {
    color: var(--main-text-color);
    background-color: var(--light-transparent-box-color);

    font-family: var(--main-body-font);
    font-size: 24px;
    line-height: 36px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 450px;
    margin: 24px 24px 0px 24px;
    padding: 30px;
}

.body-text p {
    margin-bottom: 36px;
}

.body-text-justified {
    text-align: justify;
}

.body-text-justified strong {
    text-transform: uppercase;
    font-weight: bold;
}

.body-text-emphasis {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 110%;
}

.body-text-center {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

/* Landing Page Styles */
#landing-page-background-image {
    background-image: linear-gradient(to top, black 0%, rgba(0, 0, 0, 15%) 50%), url("https://raw.githubusercontent.com/kalakal-dev/bothy-blend/refs/heads/main/resources/images/bothy.jpg");
}

#landing-page-main-content {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.landing-page-container>* {
    margin: 1rem 0px;
}

.title-container {
    color: var(--main-text-color);
    background-color: var(--transparent-box-color);
}

#landing-page-main-title {
    font-family: var(--logo-font);
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;

    border: medium solid var(--main-text-color);

    margin: 0px 50px;
    padding: 15px 25px;
    border-radius: 25px;
}

#landing-page-main-subtitle {
    font-family: var(--main-body-font);
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;

    padding: 15px;
    border-radius: 10px;
}

/* About Us Page Styling */
#about-us-background-image {
    background-image: linear-gradient(to top, black 0%, rgba(0, 0, 0, 15%) 50%), url("/Users/Jack/Repositories/Web/bothy-blend/bothy-blend/resources/images/landscape_filter.jpg");
}

#about-us-main-content {
    width: 100vw;
}

/* Order Page Styling */
#order-background-image {
    background-image: linear-gradient(to top, black 0%, rgba(0, 0, 0, 25%) 50%), url("/Users/Jack/Repositories/Web/bothy-blend/bothy-blend/resources/images/coppertanks.jpg");
}

#order-main-content {
    width: 100vw;
}

.order-box-container {
    background-color: var(--transparent-box-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    text-align: center;

    border: medium solid var(--main-text-color);
    border-radius: 25px;

    margin: 0px 10px 20px 10px;
    padding: 10px;
}

.order-box-container h2 {
    font-family: var(--logo-font);
    font-size: 40px;
    
    margin: 10px;
}

.order-box-container h3 {
    font-size: 30px;
    text-transform: uppercase;
}

.order-box-container p {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0px;
}

.order-box-container img.package-image {
    width: 240px;
    height: 240px;

    margin: 10px 10px;
}

.payment-method-container {
    /* border: thin solid red !important; */
}